{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    
{% endblock %}

{% block content %}
<div class="container top.padding">
    <div class="row justify-content-center">
        <div class="col-9">
            <h2>My Shopping Bag</h2>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-9">
        {% if bag_items %}
            <div class="table">

            </div>
        {% else %}
            <p class="lead mb-5">Your Bag is empty.</p>
            <a href="{% url 'products' %}" class="btn btn-outline-black btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="">Keep Shopping</span>
            </a>
        {% endif %}

    </div>
</div>

{% endblock %}