{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    
{% endblock %}

{% block content %}
<!-----Banner----->
<div class="col-12 top-padding banner text-center">
    <div class="container">
        <h3 class="display-4">AFK Gamer</h3>
        <a href="{% url 'products' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Shop Now</a>
        <a href="{% url 'hot_products' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Latest Arrivals!</a>
    </div>
</div>
<!-----Cards----->
<div class="row banner-2">
    <div class="col-sm-12 col-md-4 text-center watch-card">
        <div class="container">
            <img src="https://imagizer.imageshack.com/img923/9938/l6deJb.jpg" alt="Afk Logo">
            <h2 class="mx-auto">Watch</h2>   
        </div>   
    </div>
    <div class="col-sm-12 col-md-4 text-center shop-card">
        <div class="container ">
            <img src="https://imagizer.imageshack.com/img922/2263/csbGCG.png" alt="Afk Logo">
            <h2 class="mx-auto">Shop</h2>
        </div>
    </div>
    <div class="col-sm-12 col-md-4 text-center subscribe-card">
        <div class="container ">
            <img src="https://imagizer.imageshack.com/img924/5725/KI2f1d.png" alt="Afk Logo">
            <h2 class="mx-auto">Subscribe</h2>
        </div>
    </div>
</div>
<hr>
{% endblock %}