{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    
{% endblock %}

{% block content %}
<!-----Banner----->
<div class="col-12 top-padding banner text-center">
    <h3 class="display-4">AFK Gaming</h3>
    <a href="{% url 'products' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Shop Now</a>
</div>
<hr class="mx-10">
<!-----Cards----->
<div class="row banner-2">
    <div class="col-sm-12 col-md-4 text-center watch-card">
        <div class="container">
            <div class="home-icon"><i class="far fa-laugh"></i></div>
            <h2 class="mx-auto">Watch</h2>   
        </div>   
    </div>
    <div class="col-sm-12 col-md-4 text-center shop-card">
        <div class="container ">
            <div class="home-icon"><i class="fab fa-shopify"></i></div>
            <h2 class="mx-auto">Shop</h2>
        </div>
    </div>
    <div class="col-sm-12 col-md-4 text-center subscribe-card">
        <div class="container ">
            <div class="home-icon"><i class="fas fa-users"></i></div>
            <h2 class="mx-auto">Subscribe</h2>
        </div>
    </div>
</div>
<hr>
<!-----Streams----->
<div class="row justify-content-center">
    <div class="col-sm-12 col-md-6 text-center">
        <h2>Youtube</h2>
            <span>
                <i class="fab fa-youtube"></i>
            </span>
    </div>
    <div class="col-sm-12 col-md-6 text-center">
        <h2>Twitch</h2>
        <span>
            <i class="fab fa-twitch"></i>
        </span>
    </div>
</div>
<!-----Testimonials----->
<div class="row no-gutters ">
    <div class="col-sm-12 col-md-4 text-center">
        <div class="card mx-auto" style="width: 18rem;">
            <div class="card-header">
                James 28, London
            </div>
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Top notch merch, good quality!</p>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4 text-center">
        <div class="card mx-auto" style="width: 18rem;">
            <div class="card-header">
                James 28, London
            </div>
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Top notch merch, good quality!</p>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4 text-center">
        <div class="card mx-auto" style="width: 18rem;">
            <div class="card-header">
                James 28, London
            </div>
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Top notch merch, good quality!</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}