<nav class="navbar" id="basketSidebar">
    <div class="row top-row">
        <div class="col-6">
            <h3>Basket</h3>
        </div>
            <div class="col-6" id="dismiss">
                <i class="fas fa-times"></i>
            </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            {% if grand_total %}
                {% for item in bag_items %}
                <div class="row">
                    <hr>
                    <div class="col-5">
                        <img class="w-100" src="{{ item.product.image.url }}">
                    </div>
                    <div class="col-7">
                        <p class="">{{ item.product.name }}</p>
                        <p class="">Qty: {{ item.quantity }}</p>
                    </div>
                </div>
                <hr>
                {% endfor %}
            {% endif %}

        </div>
        <div class="col-6">
            <p class="">Total: £{{ total|floatformat:2 }}</p>
        </div>
        <div class="col-6">
            <p class="">Shipping:{% if free_delivery_cap > 0 %} £{{ delivery }}{% else %} Free{% endif %}</p>
        </div>
        {% if free_delivery_cap > 0 %}
        <div class="col-12 p-0 ">
            <p class="alert alert-danger p-0" role="alert"">Spend £{{ free_delivery_cap }} more to get free delivery!</p>
        </div>
        {% endif %}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="checkout-basket justify-content-center col-12">
            <a role="button" class="btn btn-dark" href="{% url 'view_bag'%}" >Checkout £{{ total|floatformat:2 }}</a>
        </div>
    </div>
</nav>