body{
    font-family: 'Catamaran', 'Montserrat';
    width:100%;
    overflow-x: hidden;
}
/*-----Font----*/
@font-face{
    /*---From Chequered Inc */
    font-family:'VerminVibes';
    src: url('/static/fonts/VerminVibes.ttf');
}

/*---HomePage---*/

.top-padding{
    padding-top:300px;
}
.banner{
    /* background: url('/media/afk-banner.jpg');
    background-size: auto; */
    background-color: #c4302b;
    height: 75vh;
}
.banner .container{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner h3{
    font-size: 94px;
    color: aliceblue;
}
header{
    background: white;
    margin-bottom: 100px;
}

.home-icon{
    font-size: 40px;
    color: #ffffff;
}
.banner-2 img{
    max-width: 100%;
    max-height: 100%;
}
.banner-2 h2{
    font-family:'VerminVibes', 'Catamaran';
    color: gray; 
    font-size: 40px;
}
.banner-2 .container{
    padding:0;
}
.shop-card h2{
    padding-top: 145px;
}
.subscribe-card h2{
    padding-top: 20px;
}
.fa-star{
    color: gold;
    font-size: 20px;
}
.product-price{
    font-size: 20px;
}
/*----Top Nav---*/
.logo-title{
    display: flex;
    flex-direction: row;
    font-size: 50px;
}
.logo-title h2{
    font-family: 'VerminVibes';
    font-size: 90px;
    padding-top:30px;
}
.logo-img{
    padding: 10px;
    padding-left: 0;
    width: 175px;
}
.search-div form{
    margin: 0 auto;
    width: 70%;
    justify-content: center;
}
.search-div .input-group{
    border-bottom: 4px solid black ;
}
.search-div .btn{
    border: 0px;
}
.search-div .fa-search{
font-size: 25px;
}
.search-div input{
font-size: 20px;
}
  .shopping-list{
      padding-right:70px;
  }
  .top-icons .fa-user, .top-icons .fa-shopping-bag{
      color: #6441a5;
      font-size: 40px;
  }
  .top-icons li p{
      font-size: 17px;
      padding-top:5px;
      color: #6441a5;
      font-weight: 600;
  }
  .navbar-light{
      border-bottom: 2px solid black;
  }
/*-----Navigation Links--*/

#main-nav .nav-link{
font-weight: 700;
font-size: 25px;
padding: 0 40px;
}

/*-----Products--*/
.products-title hr{
    width:75%;
}
.products-title{
    font-size: 50px;
}
.product-container .card{
    border: none;
}
.product-hr{
    margin: 50px 0px;
}
.product-rrp{
    font-size: 30px;
    color: red;
    text-decoration: line-through;
}
.product-price{
    font-size: 25px;
    font-weight: 500!important;
}
.product-detail-container{
    margin-top:-50px;
}
.product-categories .badge-pill{
    font-size: 110%;
}
.product-categories, .sort-row{
    margin-left: 50px;
}
.button-top{
    width: 42px;
    height: 42px;
    border: 1px solid;
    margin-left: 40px;
}
.button-top .fa-arrow-up, .update-link,
.remove-link{
    font-size: 22px;
    cursor: pointer;

}

.update-link{
    color:blue !important;
}
.remove-link{
    color: crimson !important;
}
.product-end{
    padding-bottom: 50px;;
}
.hot-products h2{
    font-family:'VerminVibes', 'Catamaran';
    font-size: 45px;
}
.season-heading{
    color:#6441a5
}
.specials-heading{
    color:#c4302b;
}
.rating-heading{
    color:black;
}
.sort-row .dropdown-toggle{
    font-size: 25px;
}
/*----Basket--Sidebar----*/

.wrapper{
    display: block;
}

#basketSidebar{
    background-color:white;
    display: none;
    min-width: 250px;
    max-width: 25vw;
    height: 100vh;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    /* top layer */
    z-index: 9999;
}
#basketSidebar .row{
    padding-top: 10px;
}
#basketSidebar .top-row .col{
    display: flex;
    flex-direction: row;
}
#basketSidebar p{
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}
#basketSidebar .col-6{
    padding: 0 20px;
}
#basketSidebar .fa-times{
    font-size: 30px;
    color:#232323b0
}
.basket-overlay {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.3);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
    opacity: 1;
}

#dismiss {
    width: 35px;
    height: 35px;
    text-align: -webkit-right;
}
.p-0{
    padding: 0;
}
.checkout-basket a{
    width: 100%;
    font-size: 20px;
    height: 5vh;
    background-color: black;}
.btn-back-shopping{
    border: 1px solid black;
    background-color: #c4302b;
    color: white;
}
.fa-chevron-left{
    color:black;
}
/*----Hover Effects-----*/
.logo-title h2:hover, .logo-title h2:focus,
.logo-title:hover, .logo-title:focus{
    color: #c4302b;
}
.banner .display-4:hover{
    color: #6441a5;
}
.shop-card img:hover{
    opacity: 0.3;
}

 .search-div .input-group:hover, .search-div .input-group:focus{
    border-bottom: 4px solid #6441a5 ;
  }
.top-icons i:hover, .top-icons i:focus{
    color:#c4302b;
}
.top-icons p:hover, .top-icons p:focus{
    color:#c4302b;
}

.zoom{
    transition: transform 1s;
}
.zoom:hover{
    transform: scale(1.2);
}
/* -------------------------------- Media Queries */

/*----Mobile Phones----*/

@media (max-width: 576px){
    .product-categories,
    .sort-row{
        margin-left: 0px;
        border-bottom: 5px solid #6441a5;
    }
    .product-categories{
        border-top: 5px solid #6441a5;
        padding-top: 10px;
    }
    .prodcuts-title{
        font-size: 40px;
    }
    .sort-row, .product-categories{
        text-align: center !important;
        margin-bottom: 10px;
    }
    .sort-row .btn{
        font-size: 25px;
    }
    .sort-row .dropdown-menu{
        left: -20px !important;
    }
    .sort-row .dropdown-menu a{
        padding: 4px 100px;
        color: black;
    }
    .top-padding{
        padding-top: 120px;
    }
    .fa-star{
    color: gold;
    font-size: 25px;
    }
    .product-detail-container{
        justify-content: center;
        text-align: center;
    }
    .product-detail-container .text-muted{
        font-size: 20px;
    }
    .product-categories a{
        padding:10px;
    }
    .product-form-row .form-group{
        width:100% !important;
    }
    .submit-mob{
        text-align: center;
    }
    #addToBag{
        text-align: center;
        border: 1px solid black;
        background: #6441a5;
        color: white;
        font-size: 18px;
    }
    /*----Bag-----*/
    .mobile-bag p{
        font-size: 20px;
        font-weight: 600;
    }
    .qty-toggler{
    margin-left: 20px;
    text-align: center;
    padding-left: 39px;
    }
    .qty-toggler .form-group{
    border-bottom: 5px solid #6441a5;
    }
    .mobile-shopping a{
    padding-left:60px;
    }
    .mobile-shopping, .mobile-checkout{
        display: flex;
    }
    /*----Top--Nav--*/
    .fa-user, .fa-shopping-bag, .fa-search{
      color: #6441a5;
      font-size: 33px !important;
  }

  .fa-search{
      margin-top:10px;
  }
  .mobile-top-icons p{
      font-size: 15px !important;
      padding-top:5px;
      color: #6441a5;
      font-weight: 600;
  }
/*----Hover Effects-----*/
.logo-title h2:hover, .logo-title h2:focus,
.logo-title:hover, .logo-title:focus{
    color: #c4302b;
}
.banner .display-4:hover{
    color: #6441a5;
}
.shop-card img:hover{
    opacity: 0.3;
}

 .search-div .input-group:hover, .search-div .input-group:focus{
    border-bottom: 4px solid #6441a5 ;
  }
.top-icons i:hover, .top-icons i:focus{
    color:#c4302b;
}
.top-icons p:hover, .top-icons p:focus{
    color:#c4302b;
}

.zoom{
    transition: transform 1s;
}
.zoom:hover{
    transform: scale(1.2);
}
}

/*----Media Query Ipad sizes----*/

@media only screen and (min-width: 577px) and (max-width: 1030px){
    
    .top-padding{
        padding-top:150px;
    }
    .logo-title h2{
        font-size:50px !important;
        
    }
    .logo-title img{
        display: none;
    }
    .product-categories p{
        font-size: 25px;
        margin-top: 5px !important;
    }
    .sort-row button{
        font-size: 35px !important;
    }
    .product-categories h4{
        font-size: 35px;
    }
    .products-title{
        font-size: 45px;
    }
    .fa-user, .fa-shopping-bag, .fa-search{
      color: #6441a5;
      font-size: 33px !important;
  }

  .mobile-top-icons p{
      font-size: 15px !important;
      padding-top:5px;
      color: #6441a5;
      font-weight: 600;
  }
  .search-div .input-group{
    border-bottom: 4px solid black ;
}
/*----Hover Effects-----*/
.logo-title h2:hover, .logo-title h2:focus,
.logo-title:hover, .logo-title:focus{
    color: #c4302b;
}
.banner .display-4:hover{
    color: #6441a5;
}
.shop-card img:hover{
    opacity: 0.3;
}

 .search-div .input-group:hover, .search-div .input-group:focus{
    border-bottom: 4px solid #6441a5 ;
  }
.top-icons i:hover, .top-icons i:focus{
    color:#c4302b;
}
.top-icons p:hover, .top-icons p:focus{
    color:#c4302b;
}

.zoom{
    transition: transform 1s;
}
.zoom:hover{
    transform: scale(1.2);
}
}