

/*---HomePage---*/

.top-padding{
    padding-top:300px;
}

.banner{
    background-size: contain;
    height: 50vh;
}
header{
    background: white;
    margin-bottom: 100px;
}

.home-icon{
    font-size: 40px;
    color: #ffffff;
}
.banner-2 h2{
    color: #fff;
}
.banner-2 .watch-card{
    background: url('/media/watch.jpg') no-repeat center fixed;
    background-size: cover;
    height: 350px;
}

.banner-2 .shop-card{
    background: url('/media/shop.jpg') no-repeat center fixed;
    border: 2px solid #fff;
    background-size: cover;
    height: 350px;
}

.banner-2 .subscribe-card{
    background: url('/media/subscribe.jpg') no-repeat center fixed;
    background-size: cover;
    height: 350px;
}
/*-----Nav--*/

#main-nav .nav-link{
font-weight: 700;
font-size: 25px;
padding: 0 40px;
}

/*-----Products--*/
.products-title hr{
    width:75%;
}

.product-container .card{
    border: none;
}
.product-hr{
    margin: 50px 0px;
}
.product-price{
    font-size: 25px;
    font-weight: 500!important;
}
.product-detail-container{
    margin-top:-50px;
}
.product-categories .badge-pill{
    font-size: 110%;
}
.product-categories, .sort-row{
    margin-left: 50px;
}
.button-top{
    width: 42px;
    height: 42px;
    border: 1px solid;
    margin-left: 40px;
}
.button-top .fa-arrow-up, .update-link,
.remove-link{
    font-size: 22px;
    cursor: pointer;

}

.product-end{
    padding-bottom: 50px;;
}
/*----Basket--Sidebar----*/

.wrapper{
    display: block;
}

#basketSidebar{
    background-color:white;
    display: none;
    min-width: 250px;
    max-width: 25vw;
    height: 100vh;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    /* top layer */
    z-index: 9999;
}
#basketSidebar .row{
    padding-top: 10px;
}
#basketSidebar .top-row .col{
    display: flex;
    flex-direction: row;
}
#basketSidebar p{
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}
#basketSidebar .col-6{
    padding: 0 20px;
}
#basketSidebar .fa-times{
    font-size: 30px;
    color:#232323b0
}
.basket-overlay {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.3);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
    opacity: 1;
}
/* display .overlay when it has the .active class */

#dismiss {
    width: 35px;
    height: 35px;
    text-align: -webkit-right;
}
.p-0{
    padding: 0;
}
.checkout-basket a{
    width: 100%;
    font-size: 20px;
    height: 5vh;
    background-color: black;