<div class="collase navbar-collapse" id="main-nav">
    <ul class="justify-content-center navbar-nav w-100 mx-auto ">
        <li class="nav-item d-block d-md-none">
            <a class="nav-link" href="#" id="home-link">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'products' %}" id="all-products-links" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Merch</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="t-shirts-links" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> T-Shirts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="hoodies-links" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Hoodies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="accesories-links" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Accesories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="hot-links" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Hot</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="contact-links" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Contact Us</a>
        </li>
    </ul>
</div>